<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Building Website</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/instruction.css">
    <script src="https://kit.fontawesome.com/2f07377952.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <!-- <a class="item navbar-brand" href="/"><i class="fas fa-2x fa-home"></i></a> -->
      <a class="navbar-brand" href="/"> <img class="logo" src="/images/logo.png" alt=""> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="item nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="item nav-link" href="/register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="item nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="row">
  <div class="col-lg-3">
    <h4>1</h4>
    <h5>Sign Up / Login</h5>
  </div>
  <div class="col-lg-3">
    <h4>2</h4>
    <h5>Fill Up All The Details</h5>
  </div>
  <div class="col-lg-3">
    <h4>3</h4>
    <h5>Upload Images And Pdf</h5>
  </div>
  <div class="col-lg-3">
    <h4>4</h4>
    <h5>Publish</h5>
  </div>
</div>



  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>

    $(document).ready(
      function() {
        $("input.form").bind(
          "click",
          function() {
            $(this).css("color", "white");
          }
        );
      }
    );

    $(".navbar").slideUp(1);
      $(".navbar").css("visibility", "visible");
      $(".navbar").slideDown(1500);

      $(".col-lg-3").slideUp(1);
        $(".col-lg-3").css("visibility", "visible");
        $(".col-lg-3").slideDown(1500);
  </script>
</body>

</html>
