<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Building Website</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/mainPage.css">
    <script src="https://kit.fontawesome.com/2f07377952.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>

<h1>Are you</h1>
<div class="row">
  <div class="col-lg-5">
    <h2 class="img1">Contractors</h2>
    <a href="/instruction"><img class="img1" src="/images/contractor1.jpg" alt=""></a>

  </div>
  <div class="col-lg-2">
  <h1>OR</h1>
  </div>
  <div class="col-lg-5">
    <h2 class="img2">Clients</h2>
    <a href="/frontPage"><img class="img2" src="/images/client1.jpg" alt=""></a>

  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>

  if("<%=heading%>") {
    alert("<%=heading%>");
  }

  $("h1").slideUp(1);
  $("h1").css("visibility", "visible");
  $("h1").slideDown(1500);


  $(".img1").animate({
    right: "1000px"
  }, 1);

  $(".img1").css("visibility", "visible");
  $(".img1").animate({
    left: "0px"
  }, 1500);

  $(".img2").animate({
    left: "1000px"
  }, 1);

  $(".img2").css("visibility", "visible");
  $(".img2").animate({
    left: "0px"
  }, 1500);
  </script>
</body>

</html>
