html,
body {
  height: 100%;
  background-image: url("/images/background.png");
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.logo {
  height: 150px;
  width: 150px;
  position: relative;
  top: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-bottom: 110px;
}

i {
  color: white;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.first {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.third {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.second {
  margin-bottom: -1px;
}

.h3 {
  color: white;
}

input.transparent-input::placeholder {
  color: white;
}

.btn {
  margin-top: 5px;
}

input.transparent-input {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: white;
}

.otp {
  visibility: hidden;
}
